In [33]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder

In [ ]:
df = pd.read_csv('movies.csv')
df.head(2)

In [ ]:
df[['genres']]

In [ ]:
df['movieId']

In [ ]:
mov = df.loc[:, ['movieId', 'genres']]

In [ ]:
mov

In [ ]:
mov

## Clustering Aspect

In [21]:
from sklearn.cluster import AgglomerativeClustering

In [31]:
mov.groupby('genres').count()

                                     movieId
genres
(no genres listed)                        34
Action                                    60
Action|Adventure                          32
Action|Adventure|Animation                18
Action|Adventure|Animation|Children        6
...                                      ...
Sci-Fi|Thriller                           23
Sci-Fi|Thriller|IMAX                       1
Thriller                                  84
War                                        4
Western                                   23

[951 rows x 1 columns]

In [36]:
mov['genres'].value_counts()

Drama                                     1053
Comedy                                     946
Comedy|Drama                               435
Comedy|Romance                             363
Drama|Romance                              349
                                          ...
Action|Sci-Fi|Thriller|Western               1
Action|Adventure|Comedy|Fantasy|Sci-Fi       1
Action|Animation|Crime|Thriller              1
Action|Crime|Mystery|Romance|Thriller        1
Adventure|Drama|Fantasy|IMAX                 1
Name: genres, Length: 951, dtype: int64

In [37]:

mov['movieId'] = mov['genres'].apply(lambda x: 1 if x == 'movieId' else 0)
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy